In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# get just de first 100 rows to infer data types and the efficiently load whole file
df = pd.read_csv('../data/events.csv', engine='c', nrows=100)

In [3]:
df.head()

,date,event_id,ref_type,ref_hash,application_id,attributed,device_countrycode,device_os_version,device_brand,device_model,...,trans_id,user_agent,event_uuid,carrier,kind,device_os,wifi,connection_type,ip_address,device_language
0,2019-03-05 00:09:36.966,0,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,a9c0b263-acb2-4577-92c5-cbde5d7a5db1,2.248157e+17,5.516623e+18,7.531669e+18,NaN,Cable/DSL,7858558567428669000,4.077062e+17
1,2019-03-05 00:09:38.920,1,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,1cd98205-0d97-4ec2-a019-667997dbfe7a,2.248157e+17,9.977660e+17,7.531669e+18,NaN,Cable/DSL,7858558567428669000,4.077062e+17
2,2019-03-05 00:09:26.195,0,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,f02e2924-21ae-492b-b625-9021ae0a4eca,2.248157e+17,5.516623e+18,7.531669e+18,NaN,Cable/DSL,7858558567428669000,4.077062e+17
3,2019-03-05 00:09:31.107,2,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,a813cf45-a36e-4668-85e2-5395f1564e98,2.248157e+17,8.561153e+18,7.531669e+18,NaN,Cable/DSL,6324037615828123965,4.077062e+17
4,2019-03-09 21:00:36.585,3,1891515180541284343,2635154697734164782,38,False,6333597102633388268,7.391844e+18,NaN,5.960896e+18,...,NaN,NaN,63a4f0aa-e147-469f-8c55-4ca4f8d0e310,2.248157e+17,8.731902e+17,7.531669e+18,NaN,Cable/DSL,2894495631302821483,3.301378e+18

In [4]:
df.dtypes

date                   object
event_id                int64
ref_type                int64
ref_hash                int64
application_id          int64
attributed               bool
device_countrycode      int64
device_os_version     float64
device_brand          float64
device_model          float64
device_city           float64
session_user_agent    float64
trans_id              float64
user_agent            float64
event_uuid             object
carrier               float64
kind                  float64
device_os             float64
wifi                  float64
connection_type        object
ip_address              int64
device_language       float64
dtype: object

# application_id

In [5]:
application_id_col = pd.read_csv('../data/events.csv', engine='c', usecols=['application_id'])

In [6]:
application_id_col['application_id'].value_counts().head(10)

66     325696
64     259084
145    252431
63     181555
103    137513
57     134498
121    123711
212    108489
113     82962
39      76448
Name: application_id, dtype: int64

This could be an int8.

# event_id

In [7]:
event_id_col = pd.read_csv('../data/events.csv', engine='c', usecols=['event_id'])

In [29]:
event_id_col['event_id'].value_counts().head(10)

22     618228
31     417070
161    217846
1      157812
138    100039
162     84898
329     56490
156     53332
33      48581
171     43942
Name: event_id, dtype: int64

This could be an int8.

# device_brand

In [31]:
df.device_brand.nunique()

0

In [32]:
df.device_brand.value_counts().head()

Series([], Name: device_brand, dtype: int64)

**It is now confirmed that this column is absolutely useless.**

# ref_type

In [16]:
df.ref_type.nunique()

2

In [17]:
df.ref_type.value_counts()

4087    1882743
6491     611680
Name: ref_type, dtype: int64

# ref_hash

In [21]:
df.ref_hash.nunique()

196049

In [22]:
df.ref_hash.value_counts()

7823950631004872496    2913
7298478026707033340    2822
5034957474698180142    2681
5724169280369284055    2524
1706781657278990931    2300
244029859389272148     2240
7526135353349769077    2079
8876061431560425145    2053
99390558091295167      1966
2514745445577342929    1925
7932055701089699678    1880
959309904051180368     1879
2172957424689981672    1737
8938936221115319274    1712
5517347051664000025    1696
7881865551295335841    1680
2911380620292361100    1615
7984059267284799536    1599
3931396627810108588    1558
5929807100024800254    1460
8291491622395815056    1431
6431911391083614553    1398
6290225060459708362    1384
1392381574052047210    1369
524370095063968889     1355
5639133576747886119    1345
2456256724056711249    1339
8847676025636425100    1336
3436575239155975568    1317
6630253456783010456    1312
                       ...
157629049434270787        1
2404462553287446258       1
9194020315316075441       1
7813739129937447890       1
7252925027847170864       1
6497110467134734601       1
7846308428567388570       1
7450112722474049841       1
6030838739871961810       1
2861158773196675544       1
4996706370106526680       1
6153453875679286080       1
6437303752994466598       1
6241553451794252443       1
3888220736043156678       1
964510756464106068        1
1026522613097263957       1
4441592449899097563       1
3187791432440347967       1
6820016316520018347       1
7009562562297148893       1
5724067282482505135       1
542920284203096810        1
8824967259386729287       1
4587959808658474870       1
3863444691996527919       1
5262023704498348823       1
7023391121731554099       1
5985661816547571320       1
7797654345365407302       1
Name: ref_hash, Length: 196049, dtype: int64

# user_agent

In [36]:
df.user_agent.nunique()

0

In [37]:
df.user_agent.value_counts()

Series([], Name: user_agent, dtype: int64)

**It is now confirmed that this column is absolutely useless.**

# attributed

In [12]:
df.attributed.nunique()

2

In [13]:
df.attributed.value_counts()

False    2489324
True        5099
Name: attributed, dtype: int64

# trans_id

In [38]:
df.trans_id.nunique()

0

In [39]:
df.trans_id.value_counts()

Series([], Name: trans_id, dtype: int64)

Although seeming to be useless, this column is used for merge purposes.

# device_countrycode

In [14]:
df.device_countrycode.nunique()

1

**It is now confirmed that this column is absolutely useless.**

# connection_type

In [46]:
df.connection_type.nunique()

2

In [45]:
df.connection_type.value_counts()

Cable/DSL    91
Cellular      9
Name: connection_type, dtype: int64

This could be an category

# device_model

In [8]:
df.device_model.nunique()

4

In [9]:
df.device_model.value_counts()

5.960896e+18    62
5.130053e+18    18
5.990117e+18    11
6.642713e+17     9
Name: device_model, dtype: int64

This could be an category

# device_os

In [12]:
df.device_os.nunique()

1

In [13]:
df.device_os.value_counts()

7.531669e+18    100
Name: device_os, dtype: int64

**It is now confirmed that this column is absolutely useless.**

# device_language

In [47]:
df.device_language.nunique()

2

In [48]:
df.device_language.value_counts()

3.301378e+18    62
4.077062e+17    38
Name: device_language, dtype: int64

This could be an category

# device_os_version

In [49]:
df.device_os_version.nunique()

4

In [50]:
df.device_os_version.value_counts()

7.391844e+18    62
4.821887e+18    18
5.908703e+17    11
8.824599e+18     9
Name: device_os_version, dtype: int64

This could be an category

# device_model

In [5]:
df.device_model.nunique()

2624

In [6]:
df.device_model.value_counts()

2.33194661091417e+18      210697
7.787530752469096e+18      74780
9.14903648623246e+18       66279
2.0664313823771248e+17     60168
4.4452523127597215e+18     56241
1.7545278564638182e+18     53850
8.163782690166159e+18      48814
7.11634310093634e+18       44598
2.9282623200704937e+18     41494
5.990116681709081e+18      40935
1.26767685640937e+18       38870
1.1876609915140178e+17     38629
3.624089450035605e+18      37489
4.281729328614173e+18      36006
6.598698943038051e+18      30656
1.1813182677101786e+18     26846
6.026543327929208e+18      26460
3.686066659168077e+17      26275
1.5409071305566963e+18     25154
2.4354500947795727e+18     24645
4.5454901435473823e+18     24201
4.689550129432457e+18      22497
8.604122202547542e+18      22268
1.764701447250044e+18      21661
4.4305786865637033e+18     20316
2.1369349693676014e+18     19213
6.88241452041436e+18       19122
8.535198356827955e+18      18648
8.733768846357008e+18      17953
4.349815524632825e+18      17790
                           ...
8.044855310608993e+18          1
5.734992454562482e+18          1
4.0531375329320945e+18         1
3.666678957513462e+18          1
4.97533806648981e+18           1
4.648552044330371e+18          1
8.170906428280771e+18          1
5.540442582022048e+18          1
2.3083083730808924e+18         1
8.379812024208966e+18          1
1.0342178849649029e+18         1
3.050486086255684e+18          1
2.933049947754534e+18          1
8.420502791018143e+18          1
8.038196161626729e+18          1
2.343157291794751e+18          1
7.0413474552139e+17            1
7.097815502648974e+18          1
5.466518363792365e+18          1
5.448125840342095e+18          1
7.369703676325886e+18          1
4.1604196367207736e+18         1
6.925717382274416e+18          1
7.407709465967263e+18          1
6.658761445305757e+18          1
8.074954384507082e+18          1
7.104775107408565e+18          1
7.546210863587995e+16          1
5.602877740427965e+18          1
3.3233340633747676e+18         1
Name: device_model, Length: 2624, dtype: int64

This could be an category

# carrier

In [53]:
df.carrier.nunique()

2

In [54]:
df.carrier.value_counts()

2.248157e+17    91
6.948828e+18     9
Name: carrier, dtype: int64

This could be an category

# wifi

In [10]:
df.wifi.nunique()

0

In [11]:
df.wifi.value_counts()

Series([], Name: wifi, dtype: int64)

**It is now confirmed that this column is absolutely useless.**

# ip_adress

In [10]:
df.ip_address.nunique()

285212

In [11]:
df.ip_address.value_counts()

1992632945768888579    22640
3162368506662488065    19379
7726314782926052608    17704
2394721645995561079     9777
589886713227299026      7561
7833422721300884983     7197
3564864895681659759     7142
4537476465028897433     7140
2403839579048525602     7100
7410847412569818934     7065
8235954648733428120     6933
7481987231813232849     6855
1093212093074216349     6347
8010533080341024188     6241
2441645233986204328     6108
2706357072127963511     4993
8262991154202232888     4736
1037699812701179191     4554
2988221197536288219     4408
2322330997698851930     3901
6286868732416664667     3698
8928734162578817363     3519
8531002764348621869     2710
7326588564616977029     2595
6452955265823183819     2571
7571354015197421297     2556
7858558567428669000     2520
3222899837426106171     2518
3692763185030977380     2450
6324037615828123965     2408
                       ...
8354349022722988350        1
7810143944060388432        1
21847751496269070          1
767696570226258000         1
4458841653944296923        1
3600359755695537591        1
965122637783580847         1
7126654926975659289        1
7785763114305300214        1
6922964588773147940        1
5571751686309944046        1
8524042583835376204        1
1548269110159393832        1
1334129406815599494        1
1440851085198796211        1
5465990244107615598        1
3315077788151660936        1
377413435866433692         1
403643581858416283         1
5625454236420664620        1
6297785086410596444        1
865735738946492792         1
5316517878243719710        1
8896124262873260755        1
361383479433549232         1
6972806790365671167        1
6216550108324576422        1
1033135917162868094        1
3888973223672549839        1
8952896826617249737        1
Name: ip_address, Length: 285212, dtype: int64

# event_uuid

In [3]:
df.event_uuid.nunique()

2489324

**It is now confirmed that this column is absolutely useless.**

# kind

In [55]:
df.kind.nunique()

15

In [56]:
df.kind.value_counts()

5.516623e+18    22
8.561153e+18    21
9.977660e+17     9
3.204095e+18     8
4.956615e+18     6
5.904796e+18     6
2.464594e+18     5
7.570318e+18     5
5.148713e+18     5
7.230718e+18     5
4.510630e+18     3
1.656322e+18     2
8.723333e+18     1
4.172655e+18     1
8.731902e+17     1
Name: kind, dtype: int64

This could be an category

# device_city

In [57]:
df.device_city.nunique()

4

In [58]:
df.device_city.value_counts()

6.959330e+18    39
2.551781e+18    28
3.258215e+18    24
3.800080e+18     9
Name: device_city, dtype: int64

This could be an category

# session_user_agent

In [59]:
df.session_user_agent.nunique()

1

In [60]:
df.session_user_agent.value_counts()

7.164321e+18    100
Name: session_user_agent, dtype: int64

**It is now confirmed that this column is absolutely useless.**

In [18]:
%%time
df = pd.read_csv('../data/events.csv', engine='c', 
                 usecols=['date', 'event_id', 'ref_type','ref_hash', 'application_id', 'attributed',
                          'device_os_version', 'device_model', 'device_city',
                          'carrier', 'kind', 'device_os', 'connection_type', 'ip_address', 'device_language', 'trans_id'],
                 dtype={'event_id':np.int8, 'ref_type':np.int8, 'application_id':np.int8,
                        'device_os_version':'category', 'device_model':'category', 'device_city':'category' ,
                        'carrier':'category', 'kind':'category', 'device_os':'category',
                        'connection_type':'category', 'device_language':'category'})

CPU times: user 21.8 s, sys: 1.18 s, total: 22.9 s
Wall time: 22.8 s